.food-donor {
    .intro {
        padding: 50px 100px;
        text-align: left;

        span {
            background-color: #82318A;
            color: white;
            font-weight: 700;
            padding: 5px 10px;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 2px;
        }

        h1 {
            color: #001334;
            font-size: 44px;
        }

        p {
            color: #5B7D99;
            font-size: 24px;
            line-height: 2rem;
        }

        .highlight {
            padding: 15px 25px;
            background-color: #E7F0F7;
            color: #5B7D99;
            font-size: 16px;
        }

        .buttons {
            button {
                padding: 10px 20px;
                color: white;
                border: none;
                height: 50px;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 3px;
                cursor: pointer;

                a {
                    color: white;
                    text-decoration: none;
                }
            }

            .signin {
                background-color: #1D76BA;
                margin-right: 20px;
            }

            .signup {
                background-color: #438F4D;
            }
        }
    }
}