.header2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;

    .left-header {
        text-align: left;

        h3 {
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 24px;
            font-weight: 500;

            a {
                color: black;
                text-decoration: none;
            }
        }

        p {
            margin: 0px;
            font-size: 12px;
        }
    }

    .buttons {
        button {
            background-color: #498DC6;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            font-size: 15px;
            cursor: pointer;

            a {
                color: white;
                text-decoration: none;
            }
        }

        &>button:first-child {
            margin-right: 20px;
        }

    }
}