.donors-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;

    .side-nav {
        margin-top: 25px;
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        width: 20vw;
        height: 100%;
        background-color: #F1F0F1;

        span {
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: white;
            }
        }
    }

    .main {
        width: 80vw;
        height: 100%;
        margin-top: 25px;
        padding-top: 5px;

        .form {
            margin-top: 20px;
            border: 1px solid black;
            padding: 20px;
            width: 80%;
            margin: 0 auto;

            h2 {
                text-align: center;
                margin: 0;
                margin-bottom: 10px;
                font-weight: 500;
            }

            select {
                padding: 8px;
            }

            .field {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                text-align: left;

                label {
                    margin-bottom: 3px;
                }

                input {
                    padding: 8px;
                }
            }

            .radio-buttons {
                display: flex;
                margin-bottom: 10px;
            }

            .donate {
                font-size: 0.95rem;
                cursor: pointer;
                padding: 8px 15px;
                margin-left: auto;
                width: 80%;
            }
        }

        .thank-you {
            h2 {
                color: #1A5F7A;
                margin-bottom: 0;
                font-size: 26px;

                span {
                    color: #DF2E38;
                    font-size: inherit;
                }
            }

            span {
                margin-top: 10px;
                color: rgb(91, 125, 154);
                font-size: 16px;

            }

            p {
                margin-top: 30px;
                font-size: 28px;
            }

            table {
                width: 80%;
                margin: 0 auto;
            }
        }

        .view {
            margin-top: 50px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;

            table {
                font-family: arial, sans-serif;
                border-spacing: 1;
                border-collapse: collapse;
                background: #fff;
                border-radius: 10px;
                overflow: hidden;
                width: 100%;
                margin: 0 auto;
                position: relative;

                thead {
                    tr {
                        height: 60px;
                        background: #36304a;
                        color: white;
                    }
                }

                tbody {
                    tr {
                        font-family: OpenSans-Regular;
                        font-size: 15px;
                        color: gray;
                        line-height: 1.2;
                        font-weight: unset;
                    }
                }
            }

            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 15px;
            }
        }

    }

}