.header3 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #D0D0D0;

    span {
        background-color: darkgray;
        color: black;
        text-align: center;
        padding: 8px;
    }

    button {
        padding: 6px 12px;
        cursor: pointer;
    }
}