.header {
  .upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3rem;
    color: rgb(91, 125, 154);
    font-family: Karla,sans-serifbody;
    margin: 10px 0;
    .heading {
      margin-left: 1rem;
      font-size: 16px;
      font-weight: 500;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
      display: flex;
      li {
        padding: 0.25rem 0;
        margin-left: 1.5rem;
        cursor: pointer;
        font-size: 14px;
      }
    }
  }

  .lower-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 3rem;
    background-color: #000d38;
    color: white;
    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
      display: flex;
      align-items: center;
      li {
        padding: 0.25rem 0;
        margin-left: 1.5rem;
        cursor: pointer;
        font-size: 18px;
        font-weight: 700;
        &:hover{
            color: rgb(57, 189, 178);
        }

        button{
            color: inherit;
            background-color:rgb(57, 189, 178); ;
            border:0px;
            padding: 15px 20px;
            font-size: 16px;
            font-weight: 700;
        }
      }
    }
  }
}

.upper-header,
.lower-header {
  padding: 0 2rem;
}
